<h1>Geolocation#index</h1>
<p>Find me in app/views/geolocation/index.html.erb</p>


<ul id='market_list'>
    <% @markets.each do |market| %>
        <li><%= link_to market.name, nil, id: market.id %></li>
        <li><%= market.address %></li>
    <% end %>
</ul>

<div id="geo">
</div>

<button id="button">ver direccion</button>

<div style='width: 600px;'>
    <div id="map" style='width: 600px; height: 300px;'></div>
</div>